<h1>County</h1>

<ol>
  <li> ID: <%= @county.id  %></li>
  <li> Name: <%= @county.name  %></li>
</ol>  <ol>
  <li> ID: <%= school.id  %></li>
  <li> UID: <%= school.uid  %></li>
  <li> overweight_percentage:<%= school.overweight_percentage  %></li>
  <li> obese_percentage:<%= school.obese_percentage  %></li>
</ol>
<% end %>